Uyuni/Automation/n8n-workflows/service-remediation-workflow.json
{
  "name": "SPM Service Remediation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "service-alert",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "spm-alert-001"
    },
    {
      "parameters": {
        "jsCode": "// Parser per alert da monitoring (Zabbix, Prometheus, custom)\nconst body = $input.first().json.body || $input.first().json;\n\n// Estrai informazioni dal payload\nlet vmName = null;\nlet vmIP = null;\nlet serviceName = null;\nlet organization = null;\nlet severity = 'medium';\nlet alertSource = 'unknown';\n\n// Pattern per Prometheus AlertManager\nif (body.alerts && Array.isArray(body.alerts)) {\n  alertSource = 'prometheus';\n  const alert = body.alerts[0];\n  vmName = alert.labels?.instance?.split(':')[0] || alert.labels?.host;\n  serviceName = alert.labels?.service || alert.labels?.alertname;\n  severity = alert.labels?.severity || 'warning';\n  organization = alert.labels?.organization || alert.labels?.namespace;\n}\n\n// Pattern per Zabbix webhook\nelse if (body.host || body.HOST) {\n  alertSource = 'zabbix';\n  vmName = body.host || body.HOST;\n  vmIP = body.ip || body.IP;\n  serviceName = body.trigger || body.TRIGGER_NAME;\n  severity = body.severity || body.TRIGGER_SEVERITY;\n  organization = body.hostgroup || body.HOSTGROUP;\n}\n\n// Pattern generico\nelse {\n  alertSource = 'generic';\n  vmName = body.vmName || body.host || body.hostname || body.server;\n  vmIP = body.vmIP || body.ip || body.ipAddress;\n  serviceName = body.serviceName || body.service || body.process;\n  organization = body.organization || body.org || body.tenant;\n  severity = body.severity || body.priority || 'medium';\n}\n\n// Normalizza severità\nconst severityMap = {\n  'disaster': 'critical',\n  'high': 'critical',\n  'average': 'medium',\n  'warning': 'low',\n  'information': 'info'\n};\nseverity = severityMap[severity?.toLowerCase()] || severity;\n\nreturn {\n  json: {\n    parsed: true,\n    alertSource: alertSource,\n    vmName: vmName,\n    vmIP: vmIP,\n    serviceName: serviceName || 'unknown',\n    organization: organization || 'default',\n    severity: severity,\n    timestamp: new Date().toISOString(),\n    rawPayload: JSON.stringify(body).substring(0, 500)\n  }\n};"
      },
      "id": "parse-alert",
      "name": "Parse Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-vm-found",
              "leftValue": "={{ $json.vmName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-vm",
      "name": "VM Identified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Genera comandi Salt per diagnosi e remediation\nconst vmName = $input.first().json.vmName;\nconst vmIP = $input.first().json.vmIP;\nconst serviceName = $input.first().json.serviceName;\n\n// Mappa servizi comuni ai nomi systemd\nconst serviceMap = {\n  'nginx': 'nginx',\n  'apache': 'apache2',\n  'httpd': 'apache2',\n  'web': 'nginx',\n  'database': 'postgresql',\n  'postgres': 'postgresql',\n  'postgresql': 'postgresql',\n  'mysql': 'mysql',\n  'mariadb': 'mariadb',\n  'ssh': 'ssh',\n  'sshd': 'ssh',\n  'test': 'spm-test-service',\n  'spm-test': 'spm-test-service',\n  'spm-test-service': 'spm-test-service'\n};\n\nconst actualService = serviceMap[serviceName?.toLowerCase()] || serviceName;\n\n// Target Salt: usa vmName come minion ID\n// Se vmIP disponibile, potremmo usarlo per grains match\nlet saltTarget = vmName;\n\n// Comandi da eseguire nel container UYUNI\nconst commands = {\n  // 1. Verifica stato prima del restart\n  checkBefore: `salt '${saltTarget}' service.status ${actualService}`,\n  \n  // 2. Restart del servizio\n  restart: `salt '${saltTarget}' service.restart ${actualService}`,\n  \n  // 3. Verifica stato dopo restart\n  checkAfter: `salt '${saltTarget}' service.status ${actualService}`,\n  \n  // 4. Diagnosi completa (se restart fallisce)\n  diagnose: `salt '${saltTarget}' cmd.run 'systemctl status ${actualService} --no-pager; journalctl -u ${actualService} -n 20 --no-pager'`\n};\n\n// Comando combinato per SSH\nconst sshCommand = `\necho '=== PRE-RESTART STATUS ==='\npodman exec uyuni-server ${commands.checkBefore} || echo 'Service not running'\necho ''\necho '=== RESTARTING SERVICE ==='\npodman exec uyuni-server ${commands.restart}\nRESTART_RESULT=$?\necho ''\necho '=== POST-RESTART STATUS ==='\nsleep 2\npodman exec uyuni-server ${commands.checkAfter}\necho ''\necho \"EXIT_CODE=$RESTART_RESULT\"\n`;\n\nreturn {\n  json: {\n    ...$input.first().json,\n    actualService: actualService,\n    saltTarget: saltTarget,\n    sshCommand: sshCommand,\n    commands: commands\n  }\n};"
      },
      "id": "prepare-salt",
      "name": "Prepare Salt Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "host": "={{ $env.UYUNI_HOST || '10.172.2.17' }}",
        "port": 22,
        "username": "root",
        "command": "={{ $json.sshCommand }}"
      },
      "id": "execute-salt",
      "name": "Execute Salt via SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1120, 200],
      "credentials": {
        "sshPrivateKey": {
          "id": "uyuni-ssh",
          "name": "UYUNI SSH Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Analizza risultato e genera report\nconst input = $input.first().json;\nconst sshOutput = input.stdout || '';\nconst sshError = input.stderr || '';\n\n// Estrai exit code dal output\nconst exitCodeMatch = sshOutput.match(/EXIT_CODE=(\\d+)/);\nconst exitCode = exitCodeMatch ? parseInt(exitCodeMatch[1]) : -1;\n\n// Determina successo\nconst restartSuccess = exitCode === 0 && \n  (sshOutput.includes('True') || sshOutput.includes('active (running)'));\n\n// Status emoji e testo\nconst statusEmoji = restartSuccess ? '✅' : '❌';\nconst statusText = restartSuccess ? 'RISOLTO' : 'RICHIEDE INTERVENTO MANUALE';\n\n// Genera report HTML\nconst report = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; margin: 0; padding: 20px; background: #f5f5f5; }\n    .container { max-width: 700px; margin: 0 auto; background: white; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); overflow: hidden; }\n    .header { background: linear-gradient(135deg, #1a365d 0%, #2c5282 100%); color: white; padding: 24px; }\n    .header h1 { margin: 0 0 8px 0; font-size: 24px; }\n    .header p { margin: 0; opacity: 0.9; font-size: 14px; }\n    .status { padding: 16px 24px; font-size: 18px; font-weight: 600; }\n    .status-ok { background: #c6f6d5; color: #22543d; }\n    .status-fail { background: #fed7d7; color: #822727; }\n    .content { padding: 24px; }\n    .section { margin-bottom: 24px; }\n    .section h3 { margin: 0 0 12px 0; color: #2d3748; font-size: 16px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px; }\n    table { width: 100%; border-collapse: collapse; }\n    td { padding: 10px 0; border-bottom: 1px solid #e2e8f0; }\n    td:first-child { font-weight: 600; color: #4a5568; width: 140px; }\n    .code-block { background: #1a202c; color: #e2e8f0; padding: 16px; border-radius: 6px; font-family: 'Monaco', 'Menlo', monospace; font-size: 12px; overflow-x: auto; white-space: pre-wrap; word-break: break-all; max-height: 300px; overflow-y: auto; }\n    .warning-box { background: #fffbeb; border: 1px solid #f6e05e; border-radius: 6px; padding: 16px; margin-top: 16px; }\n    .warning-box h4 { margin: 0 0 8px 0; color: #975a16; }\n    .warning-box ol { margin: 8px 0 0 0; padding-left: 20px; color: #744210; }\n    .footer { background: #f7fafc; padding: 16px 24px; font-size: 12px; color: #718096; text-align: center; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>${statusEmoji} Service Remediation Report</h1>\n      <p>Generato: ${new Date().toLocaleString('it-IT', { timeZone: 'Europe/Rome' })}</p>\n    </div>\n    \n    <div class=\"status ${restartSuccess ? 'status-ok' : 'status-fail'}\">\n      Status: ${statusText}\n    </div>\n    \n    <div class=\"content\">\n      <div class=\"section\">\n        <h3>Dettagli Incidente</h3>\n        <table>\n          <tr><td>VM/Host</td><td>${input.vmName || 'N/A'}</td></tr>\n          <tr><td>IP</td><td>${input.vmIP || 'N/A'}</td></tr>\n          <tr><td>Servizio</td><td>${input.actualService}</td></tr>\n          <tr><td>Organizzazione</td><td>${input.organization}</td></tr>\n          <tr><td>Severità</td><td>${input.severity}</td></tr>\n          <tr><td>Sorgente Alert</td><td>${input.alertSource}</td></tr>\n        </table>\n      </div>\n      \n      <div class=\"section\">\n        <h3>Comando Eseguito</h3>\n        <div class=\"code-block\">salt '${input.saltTarget}' service.restart ${input.actualService}</div>\n      </div>\n      \n      <div class=\"section\">\n        <h3>Output</h3>\n        <div class=\"code-block\">${sshOutput.replace(/</g, '&lt;').replace(/>/g, '&gt;')}</div>\n      </div>\n      \n      ${!restartSuccess ? `\n      <div class=\"warning-box\">\n        <h4>⚠️ Azione Richiesta</h4>\n        <p>Il riavvio automatico non è riuscito. Verificare manualmente:</p>\n        <ol>\n          <li>Connettersi: <code>ssh root@${input.vmIP || input.vmName}</code></li>\n          <li>Verificare log: <code>journalctl -u ${input.actualService} -n 50</code></li>\n          <li>Controllare risorse: <code>df -h && free -m</code></li>\n          <li>Verificare configurazione: <code>systemctl cat ${input.actualService}</code></li>\n        </ol>\n      </div>\n      ` : ''}\n    </div>\n    \n    <div class=\"footer\">\n      SPM Automation | UYUNI Server: 10.172.2.17 | Ticket ID: ${Date.now()}\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...input,\n    restartSuccess: restartSuccess,\n    exitCode: exitCode,\n    reportHtml: report,\n    reportSubject: `[SPM] ${statusText}: ${input.actualService} su ${input.vmName}`,\n    reportPlainText: `Remediation ${statusText}\\n\\nVM: ${input.vmName}\\nServizio: ${input.actualService}\\nTimestamp: ${new Date().toISOString()}\\n\\nOutput:\\n${sshOutput}`\n  }\n};"
      },
      "id": "generate-report",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM || 'spm-automation@example.com' }}",
        "toEmail": "={{ $env.ALERT_RECIPIENTS || 'support@example.com' }}",
        "subject": "={{ $json.reportSubject }}",
        "emailType": "html",
        "html": "={{ $json.reportHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1560, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-config",
          "name": "SMTP Config"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gestione caso VM non identificata\nconst input = $input.first().json;\n\nconst errorReport = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: sans-serif; padding: 20px; }\n    .error { background: #fed7d7; color: #822727; padding: 20px; border-radius: 8px; }\n    .details { background: #f7fafc; padding: 15px; margin-top: 15px; border-radius: 5px; }\n    code { background: #e2e8f0; padding: 2px 6px; border-radius: 3px; }\n  </style>\n</head>\n<body>\n  <div class=\"error\">\n    <h2>❌ Alert Non Processabile</h2>\n    <p>Non è stato possibile identificare la VM dal messaggio di alert.</p>\n  </div>\n  <div class=\"details\">\n    <h3>Payload Ricevuto</h3>\n    <pre>${input.rawPayload || 'N/A'}</pre>\n    <h3>Dati Estratti</h3>\n    <p>VM Name: <code>${input.vmName || 'NON TROVATO'}</code></p>\n    <p>VM IP: <code>${input.vmIP || 'NON TROVATO'}</code></p>\n    <p>Service: <code>${input.serviceName || 'NON TROVATO'}</code></p>\n  </div>\n  <div class=\"details\">\n    <h3>Azione Richiesta</h3>\n    <p>Verificare il formato del payload di alert e aggiornare i pattern di parsing se necessario.</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...input,\n    reportHtml: errorReport,\n    reportSubject: '[SPM] ⚠️ Alert Non Processabile - Richiede Review'\n  }\n};"
      },
      "id": "handle-unidentified",
      "name": "Handle Unidentified VM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM || 'spm-automation@example.com' }}",
        "toEmail": "={{ $env.ALERT_RECIPIENTS || 'support@example.com' }}",
        "subject": "={{ $json.reportSubject }}",
        "emailType": "html",
        "html": "={{ $json.reportHtml }}",
        "options": {}
      },
      "id": "send-error-email",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 400],
      "credentials": {
        "smtp": {
          "id": "smtp-config",
          "name": "SMTP Config"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, processed: $json.vmName, service: $json.actualService, result: $json.restartSuccess ? 'resolved' : 'failed' }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 200]
    }
  ],
  "connections": {
    "Webhook Alert": {
      "main": [
        [
          {
            "node": "Parse Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alert": {
      "main": [
        [
          {
            "node": "VM Identified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VM Identified?": {
      "main": [
        [
          {
            "node": "Prepare Salt Commands",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Unidentified VM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Salt Commands": {
      "main": [
        [
          {
            "node": "Execute Salt via SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Salt via SSH": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Unidentified VM": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SPM",
      "createdAt": "2026-01-31T00:00:00.000Z",
      "updatedAt": "2026-01-31T00:00:00.000Z"
    },
    {
      "name": "Remediation",
      "createdAt": "2026-01-31T00:00:00.000Z",
      "updatedAt": "2026-01-31T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
